# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\javaverktyg o bygg labb2\Olas_Jenkins_test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
